.header{
  position: fixed;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(91, 140, 169);
}
.header button{
  /* background-color: rgb(224, 250, 24); */
  border: none;
  width: 100px;
  height: 30px;
  margin-right: 10px;
}
