.header{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(91, 140, 169);
}
.header button{
  /* background-color: rgb(224, 250, 24); */
  border: none;
  width: 100px;
  height: 30px;
  margin-right: 10px;
}
