

.whole{
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.see{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.create {
  margin-top: 100px;
  cursor: pointer;
  padding: 10px;
  background-color: #007bff;
  color: white;
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 30VH;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.sticky-container {
  padding: 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid with minimum width of 300px */
}

.card {
  /* height: 200px; */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden; /* Ensures image overflow is hidden within cards */
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px); /* Hover effect for lifting the card */
}

.card-content {
  padding: 20px;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.text {
  font-size: 1rem;
  margin-bottom: 6px;
}

.sticky-image {
  width: 100%; /* Ensures image fills its container */
  height: auto;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
